.transaction-history {
  margin-top: 50px;
  width: 600px;
}

thead th {
  background-color: rgb(53, 100, 172);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 5px;
}

tr {
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background-color: lightblue;
}

/* tr th, */
tr td {
  width: 33%;
  text-align: center;
  padding: 5px;
  border: solid 1px #777;
  color: #777;
  text-transform: capitalize;
}

/* td th {
  background-color: lightblue;
} */
